<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Horizon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="card mt-4">
          <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                  <span class="badge text-bg-success-subtle text-success-emphasis">SCENARIO</span>
                  <span class="text-muted small">Placeholder content</span>
              </div>
              <div class="mt-2 mb-4">
                <img class="img-fluid rounded-4" src="../static/images/placeholder1.jpg">
              </div>
              <p>
                  In 2050, taxi drivers are replaced by AI. In 2050,
                  taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI.
                  In 2050, taxi drivers are replaced by AI. taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI.
                  In 2050, taxi drivers are replaced by AI. taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI.
                  In 2050, taxi drivers are replaced by AI.taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI.
                  In 2050, taxi drivers are replaced by AI. taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI.
                 In 2050, taxi drivers are replaced by AI taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI. In 2050, taxi drivers are replaced by AI.
              </p>
              <form>
                  <div>
                      <input type="radio"> Option 1
                  </div>
                  <div>
                      <input type="radio"> Option 2
                  </div>
                  <div>
                    <input type="radio"> Option 3
                  </div>
                  <div>
                    <input type="radio"> Option 4
                  </div>
                  <div>
                    <input type="radio"> Option 5
                  </div>
              </form>
              <div class="mt-4 d-flex align-items-center justify-content-between">
                  <button class="btn btn-secondary">Back</button>
                  <button class="btn btn-primary">Next</button>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
          <div class="card mt-4">
              <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between">
                      <span class="badge text-bg-success-subtle text-success-emphasis">Sequence</span>
                      <span class="text-muted small">1/5 steps</span>
                  </div>

              </div>
          </div>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>